* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    --white: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --main-content-max-width: 450px;
    --transition-speed: 250px;
    --warning: rgba(255, 166, 0, 0.945);

    overflow-x: hidden;
}

body::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;
    background: rgb(0, 162, 255);
    clip-path: polygon(0 0, 80% 120%, 0 120%);
    z-index: 1;
}

.TextCenter {
    text-align: center;
}

.AppWrapper {
    max-width: var(--main-content-max-width);
    margin: 2em auto;
    background-color: var(--white);
    box-shadow: 0 0 15px var(--box-shadow-color);

    position: relative;
    overflow-x: hidden;
    z-index: 9;
}

.AuthScreens {
    width: calc(var(--main-content-max-width) * 2);
    display: flex;
    transition: margin-left var(--transition-speed);
}

.AuthScreens--ShiftLeft {
    margin-left: -100%;
}

.AuthScreens__Screen {
    flex: 1;
    padding: 1.4rem;
    padding-top: 2rem;
}

.Header {
    text-align: center;
}

.Header__Heading {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.Header__Icon {
    font-size: 3rem;
}

.FormContent__FormGroup {
    position: relative;
    margin: 3em auto;
    width: 80%;
}

.FormContent__FormGroup__FormControl {
    border: none;
    padding: 3px 0;
    border-bottom: 1px solid rgb(0, 162, 255);
    font-size: 0.9rem;
    width: 100%;
}

.FormContent__FormGroup__FormControl:focus {
    outline: none;
}

.FormContent__FormGroup__FormControl:valid~label,
.FormContent__FormGroup__FormControl:focus~label {
    bottom: calc(100% + 0.5rem);
}

.FormContent__FormGroup__FormControl:invalid {
    border-color: grey;
}

.FormContent__FormGroup__FormControl:invalid~label {
    color: grey;
}

.FormContent__FormGroup__Label {
    position: absolute;
    bottom: 4px;
    left: 0;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 0.8rem;
    transition: all 0.3s;
    pointer-events: none;
}

/*Buttons*/
.SubmitBtn {
    display: block;
    width: 80%;
    border: 1px solid var(--warning);
    margin: 2em auto;
    padding: 10px 60px;

    font-size: 1.1rem;
    font-weight: 550;

    color: #fff;
    background: var(--warning);
    transition: var(--transition-speed);
}

.SubmitBtn:hover {
    cursor: pointer;
    color: var(--warning);
    background-color: transparent;
}

.SwitchBtn {
    display: inline;
    border: none;
    background-color: transparent;
    color: var(--warning);
}

.SwitchBtn:hover {
    cursor: pointer;
    opacity: 0.85;
}

@media only screen and (min-width: 576px){
    .FormContent__FormGroup {
        max-width: 400px;
    }
}
